@import "generation";

@mixin _notification_header_headerStylization(){
    font-family: "Source Sans Pro";
    color: black;
    padding-top: 20px;
    *{
	font-weight: 600;
    }
}

@include _notification_header_generateHeader(".food-log");

@mixin _notification_header_navStylization(){
    font-family: "Source Sans Pro";
    color: lighten(black, 60%);
    &:hover{
	cursor: pointer;
    }
}

@mixin _notification_header_navActiveStylization(){
    font-family: "Source Sans Pro";
    color: black;
    font-weight: 700;
    &:hover{
	cursor: pointer;
    }
}

@include _notification_header_generateNavStyle(".food-navigation");

@mixin _notification_header_locationStylization() {
    font-weight: 700;
    font-family: "Source Sans Pro";
    color: black;
    top: 5;
    height: 36px;


    p{
	margin-bottom: 0px !important;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
    }
}

@include _notification_header_generateLocationStyle(".iteration-location")
