@import 'colors';
@import 'fonts';

//Styles to make testbed look realistic.
.extend-full-height {
    @media screen and (min-width: 992px){
      height: 100%;
    }

    @media screen and (max-width: 991px){
	height: 100px;
    }
}

.extend-full-width {
    height: 100%;
}

.consistency-hide {
    color: transparent;
}

.no-margin-mobile {
    @media screen and (max-width: 992px) {
	margin: 0px;
    }
}

.btn-login {
  background: #0288D1;
  padding: 10px 24px 10px 24px;
  position: relative;
  top: -2px;
  margin: 0px;
  min-width: 88px;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  transition-duration: 0.2s;
}

.btn-login:hover {
  background: #01579B;
  color: white;
  transition-duration: 0.2s;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.26);
}

.materialize-form {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0px;
    line-height: 30px;
    border-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    transition-duration: 0.1s;

    &+label {
      
      transition-duration: 0.1s;
    }

    &:focus {
      border-bottom: 2px solid lighten(#004D40, 10%);
    }
}
